.jeu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    
}
.triangle{
    width: 220px;
    z-index: -1;
}

.paper{
    position: absolute;
    bottom:  43%;
    left: 41%;
}
.rock{
    position: absolute;
    bottom: 16%;
    left: 48%;
}
.cizo{
    position: absolute;
    bottom: 43%;
    right: 41%;
}
