.play-container{
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}
.paper-versus{
    position: absolute;
    bottom:  20%;
    left: 18%;
    border: 25px solid hsl(230, 89%, 62%);
    box-shadow: 0px 6px 0px 0px hsl(230, 75%, 43%);
}
.rock-versus{
    position: absolute;
    bottom: 20%;
    left: 18%;
    border: 25px solid hsl(349, 71%, 52%);
    box-shadow: 0px 6px 0px 0px hsl(349, 69%, 36%);
    box-sizing: 0px -10px 0px 0px black;
}
.cizo-versus{
    position: absolute;
    bottom: 20%;
    left: 18%;
    border: 25px solid hsl(39, 89%, 49%);
    box-shadow: 0px 6px 0px 0px hsl(40, 79%, 35%);
}
.paper-ops{
    position: absolute;
    bottom:  20%;
    right: 22%;
    border: 25px solid hsl(230, 89%, 62%);
    box-shadow: 0px 6px 0px 0px hsl(230, 75%, 43%);
}
.rock-ops{
    position: absolute;
    bottom: 20%;
    right: 22%;
    border: 25px solid hsl(349, 71%, 52%);
    box-shadow: 0px 6px 0px 0px hsl(349, 69%, 36%);
    box-sizing: 0px -10px 0px 0px black;
}
.cizo-ops{
    position: absolute;
    bottom: 20%;
    right: 22%;
    border: 25px solid hsl(39, 89%, 49%);
    box-shadow: 0px 6px 0px 0px hsl(40, 79%, 35%);
}
.icon-versus{
    background-color: white;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.anonce{
    font-size: 25px;
    color: white;
    
}
.you{
    font-size: 40px;
}
.restart{
    background-color: white;
    border:none;
    border-radius: 10px;
    padding: 12px;
    padding-left: 40px;
    padding-right:40px;
    font-weight: 400;
    
 
}
.pick{
    display: flex;
    width: 820px;
    justify-content: space-between;
    margin-left: -30px;
}
.result{
    margin-left: 300px;
    margin-top: 100px;
}

@media (max-width:426px){
    .play-container{
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    width: 400px;
}
.paper-versus{
    bottom:  45%;
    left: 5%;
    border: 15px solid hsl(230, 89%, 62%);
}
.rock-versus{
    bottom: 45%;
    left: 5%;
    border: 20px;
    border: 15px solid hsl(349, 71%, 52%);
}
.cizo-versus{
    bottom: 45%;
    left: 5%;
     border: 15px solid hsl(39, 89%, 49%);
  
}
.paper-ops{
    bottom:  45%;
    right: 5%;
    border: 15px solid hsl(230, 89%, 62%);
}
.rock-ops{
    bottom: 45%;
    right: 5%;
    border: 15px solid hsl(349, 71%, 52%);
}
.cizo-ops{
    position: absolute;
    bottom: 45%;
    right: 5%;
     border: 15px solid hsl(39, 89%, 49%);
}
.icon-versus{
    background-color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.anonce{
    font-size: 25px;
    color: white;

    
}
img{
    width: 50px;
    height: 50px;
}
.you{
    font-size: 40px;
}
.restart{
    background-color: white;
    border:none;
    border-radius: 10px;
    padding: 12px;
    padding-left: 40px;
    padding-right:40px;
    font-weight: 400;
    
 
}
.pick{
    width: 370px;
    margin-left: 30px;
    position: absolute;
    bottom: 37%;
    
}
.result{
  
    position: absolute;
    left: -37%;
    bottom: 10%;
}
.choix{
    height: 400px;
}
}
@media (min-width:426px) and (max-width:769px){
    .play-container{
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    width: 400px;
}
.paper-versus{
    bottom:  25%;
    left: 10%;
    border: 20px solid hsl(230, 89%, 62%);
}
.rock-versus{
    bottom: 25%;
    left: 10%;
    border: 20px;
    border: 20px solid hsl(349, 71%, 52%);
}
.cizo-versus{
    bottom: 25%;
    left: 10%;
     border: 20px solid hsl(39, 89%, 49%);
  
}
.paper-ops{
    bottom:  25%;
    right: 10%;
    border: 20px solid hsl(230, 89%, 62%);
}
.rock-ops{
    bottom: 25%;
    right: 10%;
    border: 20px solid hsl(349, 71%, 52%);
}
.cizo-ops{
    position: absolute;
    bottom: 25%;
    right: 10%;
     border:20px solid hsl(39, 89%, 49%);
}
.icon-versus{
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.anonce{
    font-size: 25px;
    color: white;

    
}
img{
    width: 80px;
    height: 80px;
}
.you{
    font-size: 35px;
    margin-left: 5px;
}
.restart{
    background-color: white;
    border:none;
    border-radius: 10px;
    padding: 12px;
    padding-left: 40px;
    padding-right:40px;
    font-weight: 400;
    
 
}
.pick{
    width: 600px;
    margin-left: 80px;
    margin-top:-30px;

    
}
.result{
  
    position: absolute;
    left: 1%;
    bottom: 30%;
}
.choix{
    height: 400px;
}

}
@media (min-width:769px) and (max-width:1025px){
    .icon-versus{
        width: 220px;
        height: 220px;
    }
    .paper-versus{
    bottom:  15%;
    left: 5%;

}
.rock-versus{
    bottom: 15%;
    left: 5%;
  
  
}
.cizo-versus{
    bottom: 15%;
    left: 5%;
}
.paper-ops{
    bottom:  15%;
    right: 5%;
  
}
.rock-ops{
    bottom: 15%;
    right: 5%;

}
.cizo-ops{
    position: absolute;
    bottom: 15%;
    right: 5%;
    
}
.pick{
    width: 850px;
    margin-left: 50px;
}
.result{
    margin-left: 400px;
}
}